/* MOVING SVG ELEMENTS START */
@media only screen and (max-width: 800px) {
	#polse {
		transform: translate(-100px, 50px);
		visibility: visible;

	}
	
	#skigaer {
		transform: translate(100px);
		visibility: visible;

	}
	
	#gris {
		transform: translate(-100px);
		visibility: visible;
	}
	
	path .st1 {
			visibility: visible;
	}
	
	g {
		visibility: hidden;
	}
 }


/* MOVING SVG ELEMENTS STOP  */
    .st58 {
        fill:blue !important;
        height: 10em;
    }
    
    #modalphotos {
        display:inline-block;
        margin-top: 0.2em;
    }
    #modalphotos img {
        max-height:200px;
        width:150px;
    }
    
    #divdiv {
        position: relative;
    }
    
    #divdivdiv {
        color:white;
        height:12.3em;
        top:25em;
        right:23em;
        background: black;
        opacity: 0.8;
        width:10.15em;
        position:absolute;
        border: solid;
        border-color: black;
        display:none;
    }
        
            #footer img {
                margin: 1px;
            }
            
            /* Large desktop */
        @media (min-width: 1200px) { 
            #divdiv {
                width:79.2%;
            }
            
            #footer {
            position: fixed;
            top: 0;
            right:0;
            width: 100%;
            height:100%;
            max-width:20em;
            background: white;
            text-align: center;
            opacity:0.8;
            border: solid;
            border-color: black;
            
            width: auto;
            overflow-x: hidden;
            overflow-y: scroll;
            }
        }

        @media (max-width: 1199px) { 
            #divdiv {
                width:100%;
            }
            
            #footer {
            font-size:200%;
            position: fixed;
            margin-top: 5px;
            max-height:30em;
            width: auto;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            background: white;
            text-align: center;
            }
            
            #footer img {
                max-width: 48%;
            }
        }
        /* Portrait tablet to landscape and desktop */
        /*@media (min-width: 768px) and (max-width: 979px) {  }**/

        /* Landscape phone to portrait tablet 
        @media (max-width: 767px) {  }

         Landscape phones and down */
        /*@media (max-width: 480px) {  }*/

