/* BUNN OG OPP PLASSERING START*/

.n1,.n2,.n3,.n4,.n5,.n6 {
    border: 1px solid black;
    height: 25%;
    width: 100%;
    margin-bottom: 10%;
    
}
footer {
    height: 25%;
    width: 100%;
}
.midtskille {
    height: 300%;
    width: 100%;
    bottom: 0px;
    background: black;
    opacity: 0.3;
    border: 1px solid black;
}
/* BUNN OG OPP PLASSERING SLUTT*/

/* Modal Bokser START */
@media only screen and (max-width: 1224px) { 
    .boks-wrapper {
        width: 100%;
     }
}

.clickme::on-hover {
    background-color: #AAB2BD;
}
.boks-wrapper {
   border: 5px solid #009ee3;
   width: 100%;
   min-width: 300px;
   height: auto;
   padding: 5px;
   text-align: center;
   background: white;
}

.boks-wrapper img {
    height: auto;
    margin: auto;
}
/* Modal Bokser SLUTT */ 
.main-wrapper {
    width: 100%;
    height: auto;
}

* {
    font-family: Neo-sans;
}

g.st0 {
    font-family: Neo-sans;
}

.midtstillt-tekst {
    text-align: center;
    
}
.seksjon {
    height: 20em;
    border: 1px solid black;
}
.hvit-tekst {
    color: white;
}
.hyttenavn {
    font-size: 24pt;
}

.tittel {
    font-size: 50pt;
    font-family: Neo-sans-std;
    font-weight:lighter;
}

.brodtekst-18 {
    font-size: 18pt;
}

.brodtekst-25 {
    font-size: 25pt;
}

.mellomtittel-20 {
    font-weight: bold;
    font-size: 20pt;
}

.mellomtittel-25 {
    font-weight: bold;
    font-size: 25pt;
}

.alt {
    display: block;
    position: absolute; 
}

header {
}
.knapp {
    font-size: 24pt;
}

.tittelMellomHytterMobil {
    font-size: 24pt;
}

header {
    width: 100%;
}
.topp {
    top: 10em;
    margin: auto;
    position: absolute; 
}

.absolute {
    position: absolute;
}
#svgFile {
    position: relative;
}

.midtstillt {
    margin: auto;
    border: 1px solid black;
}
.atti {
    width: 80%;
    margin: auto;
}
.venstre {
    float:left;
}
.finndintur  {
    margin-top: 10em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
input {
        background: transparent;
        font-size:larger;
    margin: 5px;
    width: 200px;
    padding: 7px 10px;
    background: transparent;
    border: solid 2px white;
    color: white;
}
/*
Hyttenavn illustrasjon: Neo Sans Std - Regular - 24 pkt X
Brødtekst: Neo Sans Std - Regular - 18 pkt/25 pkt X


Knapp: Neo Sans Std - Regular - TT - 24 pkt
Tittel mellom hytter (mobilside): Neo Sans Std - Regular - TT - 24 pkt

Tittel: Neo Sans Std - Light - 50 pkt

Mellomtittel: Neo Sans Std - Bold - 20 pkt/25 pkt


*/