.samarbeidsp-wrapper {
width: 100%;
}

.samarbeidsp-wrapper img {
    height: 200px;
    margin-left:8%;
    margin-top: 3%;
}

#bildegalleripartner {
    height: 200px;
}
#mobileonly {
    display: none;
}
.pil {
    position: relative;
    margin-top: 20%;
    font-size: 70pt;
    padding: 15px 15px;
}
.pil img {
        width: 50px;

}

#mob {
    display: none;
}

#bildegalleriwrapper {
    height: 452px;
    width: 452px;
    border: 1px solid black;
    overflow: hidden;
    margin: auto;
}

#bildegalleri {
    height: 452px;
}
.wrapper {
    width: 75%;
    margin: auto;
    height: auto;
    overflow: hidden;
}
.m-venstre {
    margin-left: 15%;
}

.heltekst {
    width: 60%;
    margin: auto;
}
.m-hoyre {
    margin-right: 10%;
}
.halvtekst {
    width: 35%;
    height: auto;
}

.venstre-tekst {
    text-align: left !important;
}
.halv {
    width:80%;
    height: auto;
}
.halvbilde {
    width: 452px;
    margin-left: 3%;
    height: auto;
}

.miniseksjon {
    margin-top: 70px;
}
/* BUNN OG OPP PLASSERING START*/
.n0 {
    width: 50%;
    border: 1px solid black;
    margin: auto;
}
.n1,.n2, .n7 {
    width: 100%;  
    text-align: center;
}


.n8, .n3, .n4,.n5,.n6 {
    width: 100%;
}

.midtskille {
    width: 100%;
    top: 0px;
    border: 1px solid black;
    position: absolute;
    opacity: 0.7;
    display: none;
}


/* BUNN OG OPP PLASSERING SLUTT*/

/* Modal Bokser START */


.clickme::on-hover {
    background-color: #AAB2BD;
}
.boks-wrapper {
   border: 5px solid #009ee3;
   width: 100%;
   min-width: 300px;
   height: auto;
   padding: 5px;
   text-align: center;
   background: white;
}

.img-standard {
    width: 452px;
}

.boks-wrapper img {
    max-width: 300px;
    margin: auto;
}
/* Modal Bokser SLUTT */ 
.main-wrapper {
    width: 100%;
}





.midtstillt-tekst {
    text-align: center;
    
}
.seksjon {
    height: 20em;
    border: 1px solid black;
}
.hvit-tekst {
    color: white;
}
/*

@font-face {
    font-family: Neo-sans;
    src: url(neosansstd-regular-opentype.otf);
}
@font-face {
    font-family: Neo-sans-bold;
    src: url(ufonts.com_neosansstd-bold-opentype.otf);
}
@font-face {
    font-family: Neo-sans-light;
    src: url(ufonts.com_neosans-light-opentype.otf);
}

g.st0 {
    font-family: Neo-sans;
}
.hyttenavn {
    font-size: 24pt;
}

.tittel{
    font-size: 50pt;
    font-family: Neo-sans;
    text-align: center;
}
h1 {
    font-family: Neo-sans;
    font-size: 50pt;
    font-weight:lighter;
    margin-bottom: 25px;
}

h1, tittel {
    margin-bottom: 30px;
    margin-top: 30px;
}
.brodtekst-18 {
    font-size: 18pt;
}

.brodtekst-25 {
    font-size: 25pt;
}

.mellomtittel-20 {
    font-weight: bold;
    font-size: 20pt;
}

.mellomtittel-25 {
    font-weight: lighter;
    font-size: 25pt;
}

.tittelMellomHytterMobil {
    font-size: 24pt;
}

p,ul,li,input {
    font-size: 18pt;
    font-family: Neo-sans;
    
}
*/

p.hoyre-tekst {
  text-align:left;
}

.alt {
    display: block;
    position: absolute; 
}


.knapp {
    font-size: 24pt;
}



header {
    width: 100%;
}

.topp {
   /* top: 0px;*/
   width: 100%;
    position: absolute; 
}

.absolute {
    position: absolute;
}
#svgFile {
    position: relative;
}

.midtstillt {
    margin: auto;
    border: 1px solid black;
}
.atti {
    width: 80%;
    margin: auto;
}
.venstre {
    float:left;
}

.hoyre {
    float: right;
}
.finndintur  {
    width: 250px;
    font-size: 18pt;
    display: block;
}

.bla {
    background: #192531;
}
.nytt-input {
    margin: auto;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
    max-width: 350px;
    min-width: 300px;
    padding: 7px 9px;
    border-radius: 3px;
    border: solid 1px #003d5a;
    color: #003d5a;
}

.nytt-input-send {
    color: white;
    border: none;
    height: 45px;
    border-radius: 3px;
    width: 200px;
}
.guida-input {
    background: transparent;
    margin: 5px;
    width: 90%;
    padding: 7px 9px;
    background: transparent;
    border-radius: 3px;
    border: solid 1px #003d5a;
    color: #003d5a;
}

.input-width1 {
    width: 12em;
}
.input-width2 {
    width: 100%;
}
.transparent-input {
     background: transparent;
    margin: 5px;
    padding: 7px 9px;
    background: transparent;
    border-radius: 3px;
    border: solid 1px white;
    color: white;
}

.fottekst {
    width: 50%;
    margin-left: 15%;
    margin-top: 10%;
    
}

.n8 input {
    margin-left: 32%;
    width: 200px;
    font-size: 16pt;
}
/*
Hyttenavn illustrasjon: Neo Sans Std - Regular - 24 pkt X
Brødtekst: Neo Sans Std - Regular - 18 pkt/25 pkt X


Knapp: Neo Sans Std - Regular - TT - 24 pkt
Tittel mellom hytter (mobilside): Neo Sans Std - Regular - TT - 24 pkt

Tittel: Neo Sans Std - Light - 50 pkt

Mellomtittel: Neo Sans Std - Bold - 20 pkt/25 pkt


*/
